// top-charts.component.scss
.table-hover tbody tr:hover {
    background-color: rgba(29, 185, 84, 0.1);
  }
  
  h2 {
    margin-bottom: 1.5rem;
  }
  
  select.form-select {
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .btn-outline-success {
    &:hover {
      color: white;
    }
  }
  
  td, th {
    vertical-align: middle;
  }